<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<classPathEntry location="mysql-connector-java-5.1.25.jar" />
	<context id="DB2Tables" targetRuntime="MyBatis3">

		<commentGenerator>
			<property name="suppressDate" value="true" />
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3306/sympotm" userId="root"
			password="root">
		</jdbcConnection>

		<javaModelGenerator targetPackage="com.chenfeng.symptom.domain.model.mybatis"
			targetProject="../src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="com.chenfeng.symptom.domain.repository.mybatis"
			targetProject="../src/main/java">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.chenfeng.symptom.domain.repository.mybatis"
			targetProject="../src/main/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>
		
		<table tableName="t_syndrome" domainObjectName="Syndrome"
			enableCountByExample="false" 
			enableUpdateByExample="false" 
			enableDeleteByExample="false" 
			enableSelectByExample="false" 
			selectByExampleQueryId="false">
			<generatedKey column="id" identity="true" sqlStatement="SELECT LAST_INSERT_ID()"/>     
		</table>
		
		<table tableName="t_syndrome_element" domainObjectName="SyndromeElement"
			enableCountByExample="false" 
			enableUpdateByExample="false" 
			enableDeleteByExample="false" 
			enableSelectByExample="false" 
			selectByExampleQueryId="false">
			<generatedKey column="id" identity="true" sqlStatement="SELECT LAST_INSERT_ID()"/>     
		</table>
		
		<!-- 
		cd lib
		java -cp ../lib -jar mybatis-generator-core-1.3.2.jar -configfile ../src/main/resource/config.xml -
			-->

	</context>
</generatorConfiguration>
